*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    /* background-image: linear-gradient(to right, #01141D  , #0d2f3f );  */
}
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,500;1,400&family=Orbitron&family=Ubuntu&family=Varela+Round&display=swap');

body{
    background: url(https://imageio.forbes.com/specials-images/imageserve/62bc54b6d9785913bcd547b5/Close-up-of-doctor-using-a-digital-tablet/960x0.jpg?height=473&width=711&fit=bounds) ; 
    width: 100%;
    background-size:cover;
    background-repeat: no-repeat;
    background-image: fixed;
    object-fit:cover;
    background-attachment: fixed;

    /* opacity: .7; */
}
.grand{
    width: 100%;
    height: 1250vh;
}
.parent_container{
    opacity: 1;
    background-color: transparent;
    height: auto;
    width: 100%; 
    background-color: transparent;
    /* background-image: linear-gradient(to right,   #0192bc,#44f3c9  ); */
    background-image: linear-gradient(to right, rgba(4, 69, 69, 0.4) 0, rgba(78, 178, 212, 0.6) 60%, rgba(0, 247, 255, 0.8) 100%);
    /* background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0.6) 60%, rgba(0, 0, 0, 0.8) 100%); */
    transition: 3s linear;
    width: 100%;
}
.navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Navbar styles */
.navbar {
    width: 100%;
    justify-content: center;
    background-color: transparent;
    height: 100px;
    display: flex;
    animation: slidesecond 2s ease-in;
    animation: slide 2s ease-in;
}
.nav-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* animation: slidesecond 2s ; */
}
.nav-list li{
    margin: 30px 30px;
}
.nav-list li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
}
.nav-list li a:hover {
    color: rgb(16, 58, 93); /* Change color on hover */
    transition: 0.3s ease-in;
}
.search{
    display: inline-flex;
    align-items: center;
    background-color: #009faa;
    color: #fff;

    padding: 10px;
    border-radius: 4px;
    border: 1px solid #fff;
}

.search :is(input,button){
    background:transparent;
    color: inherit;
    border: none;
    outline: none;
}
.searchinput{
    width: 0;
    transition: width 0.5s;
}
.searchbutton{
    display: grid;
    place-items: center;
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: color 0.25s;
}
.searchbutton:hover{
    color: #e3e3e3;
}
.search:focus-within input{
    width: 200px;
}
::placeholder{
    font: inherit;
    color: #e3e3e3;
}
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(50%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0);
    } 
}

.firstchild_container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    
}

.firstchild_container .first{
    /* margin-top: 50px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 30vh;
    /* background-color: red; */
}

.firstchild_container .first h1{
    color: rgb(0, 0, 0);
    /* opacity: 1; */
    font-size: 60px;
    overflow: hidden;
    white-space: nowrap;
}
.firstchild_container .first #sanjivini{
    color: whitesmoke;
    /* opacity: 1; */
    font-size: 80px;
    overflow: hidden;
    white-space: nowrap;
    border-right: 0.15rem solid orange;
    animation: blink 0.75s step-end infinite,typing 3.5s steps(40) infinite;
}
.firstchild_container .first span{
    font-family: 'Courier New', monospace;
    font-family: 'Orbitron';
    padding: 20px 20px 20px 20px ;
    
}
.firstchild_container .second {
    /* margin-top: -50px; */
    width: 100%;
    height: 30vh;
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: linear-gradient(to top, rgba(79, 79, 79, 0.8) 0, rgba(0, 0, 0, 0.6) 60%, rgba(68, 64, 64, 0.8) 100%); */
    /* background-color: red;   */
}
.firstchild_container .second .second_content{
    width: 80%;
    height: 20vh;
    color: black;
}

.secondchild_container{
    width: 100%;
    height: 100vh;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
background-image: linear-gradient(to right, rgba(255, 255, 255, 0.945) 0, rgba(235, 222, 222, 0.6) 60%, rgba(255, 255, 255, 0.8) 100%);
/* background-color: whitesmoke; */
}



@media screen and (max-width: 600px) {
   .nav-list li a {
    font-size: 10px;
    justify-content:space-evenly ;
   }
   .nav-list{
    justify-content: space-evenly;
   }
   .nav-list li {
    margin: 30px 20px;
}
   .firstchild_container {
    width: 100%;
    height: 45vh;
}
   .firstchild_container .first h1 {
    font-size: 28px;
}
.firstchild_container .first #sanjivini {
    font-size: 40px;
}
 .firstchile_container .second{
        margin-top:30px;
 }
   .firstchild_container .second .second_content {
   text-align: left;
    font-size: 12px;
}
  }

  @keyframes typing {
    from{
        width: 0%;
    }
    to{
     width: 100%;
    }
}
@keyframes blink {
    from{
        border-color: transparent;
    }
    to{
        border-color: 2px solid aqua;
    }
}